Import pandas as **pd**. Read dataset **bookings.csv**, sep =';'.

Save data to **bookings**

Then save the first 7 rows into variable **bookings_head**

In [1]:
# Import libraries

import pandas as pd

In [2]:
# Read data

bookings = pd.read_csv('2_bookings.csv', sep=';')
bookings_head = bookings.head(7)

In [3]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

What is the shape of data? How many columns does this df have?

In [4]:
bookings.shape

(119390, 21)

Which type of data is the most common?

In [5]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Hotel                      119390 non-null  object
 1   Is Canceled                119390 non-null  int64
 2   Lead Time                  119390 non-null  int64
 3   arrival full date          119390 non-null  object
 4   Arrival Date Year          119390 non-null  int64
 5   Arrival Date Month         119390 non-null  object
 6   Arrival Date Week Number   119390 non-null  int64
 7   Arrival Date Day of Month  119390 non-null  int64
 8   Stays in Weekend nights    119390 non-null  int64
 9   Stays in week nights       119390 non-null  int64
 10  stays total nights         119390 non-null  int64
 11  Adults                     119390 non-null  int64
 12  Children                   119386 non-null  float64
 13  Babies                     119390 non-null  int64
 14  Meal                       119390 non-null  object
 15  Country                    118902 non-null  object
 16  Reserved Room Type         119390 non-null  object
 17  Assigned room type         119390 non-null  object
 18  customer type              119390 non-null  object
 19  Reservation Status         119390 non-null  object
 20  Reservation status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

Rename columns to make it easier to work with data.

In [6]:
# Create dict consists of lower names and replace spaces by '_'

col = bookings.columns

d_of_col = {}
for i in list(col):
    d_of_col[i] = i.lower().replace(' ', '_')

In [7]:
bookings.rename(columns=d_of_col, inplace=True)

From what country the most succecsul bookings were done?

In [8]:
bookings.query("is_canceled == 0") \
        .groupby('country', as_index=False) \
        .aggregate('count') \
        .sort_values('hotel', ascending=False) \
        .country \
        .head()

125    PRT
57     GBR
54     FRA
50     ESP
42     DEU
Name: country, dtype: object

On how many nights do they stay in a hotel type 'city hotel' and 'resort hotel' in average?

In [9]:
round(bookings.query("hotel == 'City Hotel'") \
        .stays_total_nights \
        .mean(), 2)

2.98

In [10]:
round(bookings.query("hotel != 'City Hotel'") \
        .stays_total_nights \
        .mean(), 2)

4.32

How many overbooking cases are in data?

In [11]:
bookings.query('assigned_room_type != reserved_room_type') \
        .shape[0]

14917

Now lets analyze arrival date. What is the common month to book a hotel in 2016?

In [12]:
bookings.query('arrival_date_year == 2016') \
        .groupby('arrival_date_month', as_index=False) \
        .aggregate('count') \
        .sort_values('hotel', ascending=False)

,arrival_date_month,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
10,October,6203,6203,6203,6203,6203,6203,6203,6203,6203,...,6203,6203,6203,6203,6176,6203,6203,6203,6203,6203
8,May,5478,5478,5478,5478,5478,5478,5478,5478,5478,...,5478,5478,5478,5478,5466,5478,5478,5478,5478,5478
0,April,5428,5428,5428,5428,5428,5428,5428,5428,5428,...,5428,5428,5428,5428,5404,5428,5428,5428,5428,5428
11,September,5394,5394,5394,5394,5394,5394,5394,5394,5394,...,5394,5394,5394,5394,5383,5394,5394,5394,5394,5394
6,June,5292,5292,5292,5292,5292,5292,5292,5292,5292,...,5292,5292,5292,5292,5280,5292,5292,5292,5292,5292
1,August,5063,5063,5063,5063,5063,5063,5063,5063,5063,...,5063,5063,5063,5063,5054,5063,5063,5063,5063,5063
7,March,4824,4824,4824,4824,4824,4824,4824,4824,4824,...,4824,4824,4824,4824,4788,4824,4824,4824,4824,4824
5,July,4572,4572,4572,4572,4572,4572,4572,4572,4572,...,4572,4572,4572,4572,4552,4572,4572,4572,4572,4572
9,November,4454,4454,4454,4454,4454,4454,4454,4454,4454,...,4454,4454,4454,4454,4432,4454,4454,4454,4454,4454
3,February,3891,3891,3891,3891,3891,3891,3891,3891,3891,...,3891,3891,3891,3891,3857,3891,3891,3891,3891,3891
2,December,3860,3860,3860,3860,3860,3860,3860,3860,3860,...,3860,3860,3860,3860,3828,3860,3860,3860,3860,3860
4,January,2248,2248,2248,2248,2248,2248,2248,2248,2248,...,2248,2248,2248,2248,2215,2248,2248,2248,2248,2248

In 2017?

In [13]:
bookings.query('arrival_date_year == 2017') \
        .groupby('arrival_date_month') \
        .aggregate('count') \
        .sort_values('hotel', ascending=False)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,stays_total_nights,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
arrival_date_month,,,,,,,,,,,,,,,,,,,,
May,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313,6313
April,5661,5661,5661,5661,5661,5661,5661,5661,5661,5661,5661,5661,5661,5661,5641,5661,5661,5661,5661,5661
June,5647,5647,5647,5647,5647,5647,5647,5647,5647,5647,5647,5647,5647,5647,5647,5647,5647,5647,5647,5647
July,5313,5313,5313,5313,5313,5313,5313,5313,5313,5313,5313,5313,5313,5313,5313,5313,5313,5313,5313,5313
March,4970,4970,4970,4970,4970,4970,4970,4970,4970,4970,4970,4970,4970,4970,4951,4970,4970,4970,4970,4970
August,4925,4925,4925,4925,4925,4925,4925,4925,4925,4925,4925,4925,4925,4925,4925,4925,4925,4925,4925,4925
February,4177,4177,4177,4177,4177,4177,4177,4177,4177,4177,4177,4177,4177,4177,4155,4177,4177,4177,4177,4177
January,3681,3681,3681,3681,3681,3681,3681,3681,3681,3681,3681,3681,3681,3681,3659,3681,3681,3681,3681,3681

On which month do they cancel booking the most?

In [14]:
bookings.query('is_canceled == 1') \
        .groupby(['arrival_date_year', 'arrival_date_month'], as_index=False) \
        .aggregate({'is_canceled': 'count'}) \
        .sort_values('is_canceled', ascending=False)

    arrival_date_year arrival_date_month  is_canceled
25               2017                May         2762
16               2016            October         2514
18               2017              April         2463
23               2017               June         2439
12               2016               June         2096
5                2015          September         2094
6                2016              April         2061
17               2016          September         2022
22               2017               July         1984
14               2016                May         1915
7                2016             August         1825
19               2017             August         1816
4                2015            October         1732
24               2017              March         1672
15               2016           November         1636
0                2015             August         1598
11               2016               July         1499
13               2016              March         1477
8                2016           December         1398
20               2017           February         1359
9                2016           February         1337
2                2015               July         1259
21               2017            January         1250
1                2015           December          973
10               2016            January          557
3                2015           November          486

Look at columns 'adults', 'children' and 'babies'. Which column does have the biggest avg?

In [15]:
bookings[['adults', 'children', 'babies']] \
        .describe()

              adults       children         babies
count  119390.000000  119386.000000  119390.000000
mean        1.856403       0.103890       0.007949
std         0.579261       0.398561       0.097436
min         0.000000       0.000000       0.000000
25%         2.000000       0.000000       0.000000
50%         2.000000       0.000000       0.000000
75%         2.000000       0.000000       0.000000
max        55.000000      10.000000      10.000000

Create columng 'total_kids' as sum of 'children' and 'babies'. 
For what type an avg value of total_kids is the biggest?

In [16]:
bookings['total_kids'] = bookings['children'] + bookings['babies']

In [17]:
bookings.groupby('hotel', as_index=False) \
        .aggregate({'total_kids': 'mean'}) \
        .rename(columns={'total_kids': 'avg_total_kids'})

          hotel  avg_total_kids
0    City Hotel        0.096311
1  Resort Hotel        0.142586

Lets calculate CR (Chunk rate) among peolpe with or without kids

In [18]:
bookings['has_kids'] = bookings.total_kids >= 1

In [19]:
bookings.groupby('has_kids', as_index=False) \
        .aggregate({'is_canceled': 'mean'}) \
        .rename(columns={'is_canceled': 'CR'})

   has_kids        CR
0     False  0.372213
1      True  0.349228

In [48]:
test_booking = bookings.sample(50)

In [55]:
test_booking.style.highlight_max(subset=['lead_time', 'adults'], color='green')\
    .hide_index().background_gradient(subset='stays_in_week_nights')\
    .highlight_min(subset='arrival_date_week_number', color='red')